@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #044dac;

}


nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
}

/*Esta es la parte de los estilos de los elementos del menu*/

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

h1, p, h2{
    color: hsl(0, 16%, 96%);
    font-size: 25px;
}

.color-de-fondo{
    background-color: #1a1a1a;
}


strong{
    color: #FFD700;
}

/*Esta es la parte del main que es la parte de las tarjetas*/

img{
    /* Puedes añadir estilos aquí si quieres que las imágenes se ajusten mejor a las tarjetas */
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto;
    display: block;
    margin: 10px auto; /* Centra la imagen */
}

.introduccion-al-TDAH{
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.siguiendo-con-la-introduccion-al-TDAH{
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
}

.ventajas-de-las-personas-con-TDAH li{
    font-family: 'Montserrat', sans-serif;

}

/* 1. Estilos para la Cuadrícula (Grid) de 5 Partes */
.usando-grid {
    display: grid;
    /* Divide el contenedor en 5 columnas de igual ancho (1fr) */
    grid-template-columns: repeat(5, 1fr);
    /* Espacio entre las tarjetas */
    gap: 20px; 
}

/*Esta es la parte de las tecnicas de estudio*/

.tecnica-pomodoro, .active-recall, .mapas-mentales, .metodo-cornell, .metodo-feymann{
    border: 5px solid #FFD700;
    border-radius: 10px;
}

/*Esta es la parte del encabezado en donde estan los famosos que tienen TDAH y TDA*/

.encabezado-1{
    text-align: center;
}

.usando-grid-2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
}

.michael-jordan{
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
}

/*Esta es la parte de justin bieber*/

.justin-bieber{
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
}

.will-smith{
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
}

.johnny-depp{
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
}

.famoso-3{
    width: 250px;
}

.steve-jobs{
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
}

.jim-carrey{
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
}