@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #044dac;

}


nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
}

/*Esta es la parte de los estilos de los elementos del menu*/

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

i{
    color: #fff;
    cursor: pointer;

}

.color-de-fondo{
    background-color: #1a1a1a;
}

h1, p, h2{
    color: hsl(0, 16%, 96%);
    font-size: 18px;
}

strong{
    color: #FFD700;
}

/*Esta es la parte del main que es la parte de las tarjetas*/

img{
    /* Puedes añadir estilos aquí si quieres que las imágenes se ajusten mejor a las tarjetas */
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto;
    display: block;
    margin: 10px auto; /* Centra la imagen */
}

/* 1. Estilos para la Cuadrícula (Grid) de 5 Partes */
.usando-grid {
    display: grid;
    /* Divide el contenedor en 5 columnas de igual ancho (1fr) */
    grid-template-columns: repeat(5, 1fr);
    /* Espacio entre las tarjetas */
    gap: 20px; 
    padding: 20px;
    border: 1px solid white;
}

/*Esta es la parte de las tecnicas de estudio*/

.tecnica-pomodoro{
    border: 5px solid white;
    border-radius: 10px;
}