@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #044dac;

}


nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
}

/*Esta es la parte de los estilos de los elementos del menu*/

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

i{
    color: #fff;
    cursor: pointer;

}

.color-de-fondo{
    background-color: #1a1a1a;
}

h1, p, h2{
    color: hsl(0, 16%, 96%);
    font-size: 18px;
}

strong{
    color: #FFD700;
}

/*Esta es la parte del main que es la parte de las tarjetas*/

img{
}

.tecnica-pomodoro .active-recall .mapas-mentales{
    display: flex;
    justify-content: center;
    align-items: center;
}